@model QnA.Website.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Use one of the options to login</h4>

        <form asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*@foreach (var provider in Model.ExternalLogins)
                {
                    <button type="submit"
                            name="provider"
                            value="@provider.Name"
                            class="btn btn-primary"
                            title="Login using your @provider.DisplayName account">
                        @provider.DisplayName
                    </button>
                }*@

            <button type="submit"
                    name="provider"
                    value="Google"
                    class="btn btn-primary"
                    title="Login using your Google account">
                Google
            </button>
            <button type="submit"
                    name="provider"
                    value="Facebook"
                    class="btn btn-primary"
                    title="Login using your Facebook account">
                Facebook
            </button>
        </form>
    </div>
</div>




