<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>


<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="#" class=""><span class="mr-2  icon-envelope-open-o"></span> <span class="d-none d-sm-inline-block">qna@crashcreativestudio.com</span></a>
                <span class="mx-md-2 d-inline-block"></span>
                <div class="float-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="#"><i class="far fa-user-circle fa pr-1"></i>@User.Identity.Name</a>
                    }
                </div>
            </div>
        </div>

    </div>
</div>

<header class="site-navbar js-sticky-header site-navbar-target" role="banner">

    <div class="container">
        <div class="row align-items-center position-relative">

            <div class="site-logo">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="text-black"><span class="text-primary">QnA</span></a>
            </div>

            <div class="col-12">

                @if (User.Identity.IsAuthenticated)
                {
                    <nav class="site-navigation text-right ml-auto " role="navigation">

                        <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                            <li><a class="nav-link" asp-controller="Sessions" asp-action="Index">My Sessions</a></li>
                            <li><a class="nav-link" asp-action="Logout" asp-controller="Accounts">Logout</a></li>
                        </ul>
                    </nav>

                }
                else
                {
                    <nav class="site-navigation text-right ml-auto " role="navigation">

                        <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                            <li><a class="nav-link" asp-action="Login" asp-controller="Accounts">Login</a></li>

                        </ul>
                    </nav>
                }

            </div>

            <div class="toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

        </div>
    </div>

</header>

