<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QnA</title>
    @await Html.PartialAsync("_Css")
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    @await Html.PartialAsync("_Header")

    @RenderBody()

    @*<div class="container main-content">
            <main role="main">

            </main>
        </div>*@

    @await Html.PartialAsync("_Footer")

    @await Html.PartialAsync("_Scripts")
    @RenderSection("Scripts", required: false)
</body>
</html>
