<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QnA</title>
    @await Html.PartialAsync("_Css")
</head>
<body>

    @await Html.PartialAsync("_Header")

    <div class="container main-content">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    @await Html.PartialAsync("_Footer")

    @await Html.PartialAsync("_Scripts")
    @RenderSection("Scripts", required: false)
</body>
</html>
