@using Microsoft.AspNetCore.Http.Extensions
@model QnA.Application.Audience.Queries.FindSessions.FindSessionsQuery

@{
    ViewData["Title"] = "Home Page";
}

<div class="site-wrap" id="home-section">

    <div class="ftco-blocks-cover-1">
        <div class="ftco-cover-1 overlay" style="background-image: url('images/people-sitting-on-gang-chairs.jpg')">
            <div class="container">
                <div class="row align-items-center justify-content-center text-center">
                    <div class="col-lg-6">
                        <h1 class="mb-5">Because good question matter...</h1>
                        @await Html.PartialAsync("_FindSessionsForm")
                        <div id="findSessionResultWrapper"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-section ftco-service-image-1 pb-5">
            <div class="container">
                <div class="owl-carousel owl-all">
                    <div class="service text-center">
                        <span class="far fa fa-question fa-5x mb-3"></span>
                        <div class="px-md-3">
                            <h2><a href="#">5000+</a></h2>
                            <h4>asked questions</h4>
                        </div>
                    </div>
                    <div class="service text-center">
                        <span class="far fa fa-calendar-week fa-5x mb-3"></span>
                        <div class="px-md-3">
                            <h2><a href="#">250+</a></h2>
                            <h4>created sessions</h4>
                        </div>
                    </div>
                    <div class="service text-center">
                        <span class="far fa fa-smile fa-5x mb-3"></span>
                        <div class="px-md-3">
                            <h2><a href="#">50+</a></h2>
                            <h4>satisfied users</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-section bg-light" id="services-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 text-center">
                    <div class="block-heading-1">
                        <h2>How it works?</h2>
                        <p>You need less than 5 minutes to start your QnA session</p>
                    </div>
                </div>
            </div>
            <div class="owl-carousel owl-all">
                <div class="block__35630 text-center">
                    <div class="icon mb-3">
                        <span class="far fa fa-sign-in-alt"></span>
                    </div>
                    <h3 class="mb-3">Log in</h3>
                    <p>Log in using one of the most popular service providers like Google or Facebook.</p>
                </div>

                <div class="block__35630 text-center">
                    <div class="icon mb-3">
                        <span class="far fa fa-calendar-week"></span>
                    </div>
                    <h3 class="mb-3">Create a session</h3>
                    <p>Create a session about the subject you want to present.</p>
                </div>

                <div class="block__35630 text-center">
                    <div class="icon mb-3">
                        <span class="far fa fa-tv"></span>
                    </div>
                    <h3 class="mb-3">Display it</h3>
                    <p>Display the session board for your audience on your presentation.</p>
                </div>

                <div class="block__35630 text-center">
                    <div class="icon mb-3">
                        <span class="far fa fa-user-check"></span>
                    </div>
                    <h3 class="mb-3">Let your audience to join</h3>
                    <p>Let your audience to join by providing the access code to your session on @Context.Request.GetDisplayUrl()</p>
                </div>

                <div class="block__35630 text-center">
                    <div class="icon mb-3">
                        <span class="far fa fa-comment-dots"></span>
                    </div>
                    <h3 class="mb-3">No disruption</h3>
                    <p>Your audience can ask and promote best questions without any disruption to your presentation.</p>
                </div>

                <div class="block__35630 text-center">
                    <div class="icon mb-3">
                        <span class="far fa fa-chart-line"></span>
                    </div>
                    <h3 class="mb-3">Best results</h3>
                    <p>Maximize your time to answer the most valuable questions.</p>
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>

        $(document).ready(function () {

            $('#access-code-input').on("keyup", function () {

                const btn = $('#submit-btn');

                if ($(this).val() !== "") {
                    btn.prop('disabled', false);
                } else {
                    btn.prop('disabled', true);

                }
            });
        });

        function showFindSessionsResultModal() {
            $('#findSessionResultModal').modal('show');
        }

    </script>
}